<mat-sidenav-container class="sidenav--container" autosize>
    <mat-sidenav #drawer class="sidenav">
        <mat-toolbar color="primary">IMDB (almost :)</mat-toolbar>
        <mat-nav-list>
            <a
                mat-list-item
                [routerLink]="['/']"
                routerLinkActive="list-item-active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="drawer.close()"
                >Search</a
            >
            <a
                mat-list-item
                [routerLink]="['/filmstowatch']"
                routerLinkActive="list-item-active"
                (click)="drawer.close()"
                >Films To Watch</a
            >
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-icon-button (click)="drawer.toggle()" class="sidenav--drawer">
            <mat-icon>menu</mat-icon>
        </button>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
